body{
  width: 250px;
  height: auto;
}
#container{
  width: 100%;
}
#title{
  font-size: 18px;
}
#imgbox{
  margin-top: 3px;
}
label{
  font-size: 13px;
  margin-bottom: auto;
}
.imgcode{
  margin-top:3px;
  padding:3px;
  border-radius: 3px;
  border: 1px solid black;
  width: 50%;
}
#order_name,#order_email,#order_tel,#order_zip,#order_state,#order_add1,#order_add2,#order_card,#order_month,#order_year,#order_cvv{
  position: relative;
  width: 100%;
  border: 1px solid black;
  border-radius: 3px;
  padding :4px;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.87);
  cursor: inherit;
  font: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
  box-sizing: border-box;
  margin-top: 2px;
}
