body{
  width: 250px;
}
#container{
  width: 100%;
}
#title{
  font-size: 18px;
}
#imgbox{
  margin-top: 10px;
}
#start_btn,#refresh_btn,#save_btn,#home_btn{
  margin-top: 5px;
  font-size: 15px;
  background-color: red;
  border: 2px solid red;
  font-weight: bold;
  color: white;
  font-size:
}
#imgcode{
  padding:5px;
  border-radius: 3px;
  border: 1px solid black;
  width: 95%;
}
#order_name{
  position: relative;
  width: 100%;
  border: 1px solid black;
  border-radius: 3px;
  padding :5px;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.87);
  cursor: inherit;
  font: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
  box-sizing: border-box;
  margin-top: 14px;
}
